<div class="page_container">
  <div class="input_container">
    <input
      type="text"
      required
      placeholder="add to do"
      [(ngModel)]="todoInput"
    />
    <button (click)="addTodo()">Add Todo</button>
  </div>
  <div class="todos">
    <div class="todo" *ngFor="let todo of todos | async">
      <p>{{ todo.text }}</p>
      <button (click)="deleteTodo(todo.id)">Delete</button>
    </div>
    <span class="clear_all" (click)="clearTodos()" *ngIf="todosLength > 0"
      >Clear all</span
    >
  </div>
</div>
